<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
      </style>
    <title>Var är kaffet?</title>
</head>
<body>
    <h2 style="text-align: center; font-family: 'Barlow', sans-serif; font-weight: 100; opacity: .8; text-transform: uppercase;">Var är kaffet?</h2>
    <div id="boxes" style="display: flex; gap: 1em; width:100vw; height: 80vh; justify-content: center; align-items: end;"></div>
</body>
<script type="module" src="static/script.js"></script>
</html>